<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1092105254645-qe9g9ik6m9jobbd7v9tgqcub52crskm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092105254645-qe9g9ik6m9jobbd7v9tgqcub52crskm7</string>
	<key>API_KEY</key>
	<string>AIzaSyAUfo_ah5Hu6ajuj7-2Uow6cNpEO2q_HHY</string>
	<key>GCM_SENDER_ID</key>
	<string>1092105254645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NJ.CampusBits</string>
	<key>PROJECT_ID</key>
	<string>campusbits-ee62e</string>
	<key>STORAGE_BUCKET</key>
	<string>campusbits-ee62e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092105254645:ios:6eadddcd41e90641</string>
	<key>DATABASE_URL</key>
	<string>https://campusbits-ee62e.firebaseio.com</string>
</dict>
</plist>